.form-select.login {
  background: transparent;
  color: cadetblue;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27indianred%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.form-select > option {
  color: black;
}

.login-background {
  background-image: url("./../image/derma-login-bg.jpg");
  background-size: cover;
  background-position: center center;
}

.form-ctn-margin-top {
  margin-top: 40%;
}

/* .spinner-border {
  --bs-spinner-width: 5rem;
  --bs-spinner-height: 5rem;
  --bs-spinner-border-width: 1.2em;
} */
